/* Hover effect for project cards */
.card {
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.btn:hover {
  background-color: #e07a5f !important;
  color: white;
}

/* Dark overlay for images */
.overlay {
  position: relative;
}

.overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
